@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color:rgb(51, 127, 150);
    --primary-color-darker:rgb(46, 84, 95);

}


*{
    box-sizing: border-box;
    outline: 0;
    
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans';
    font-size: 1.2em;
    line-height: 1em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background:  #fff; 
    padding: 20px;
    border-radius: 10px;

}
.titulo{
    text-align: center;
    text-shadow: #d0d1d3 2px 3px 2px;
       
}

    .tabela{
    display: flex;
       justify-content: space-around;
       background-color: var(--primary-color);
       border-radius: 10px;
       color: #fff;
       text-shadow: #011125 2px 3px 2px;
       

    }

    


        .calculotitulo{
            text-align: center;
            text-shadow: #d0d1d3 2px 3px 2px;
        }

form input,form label,form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

    form input{
        font-size: 24px;
        height: 50px;
        padding: 0 20;
        border-radius: 10px;
       
    }

    form input:focus{
        outline:1px solid var(--primary-color);
    }

    form button {
        border: none;
        background: var(--primary-color);
        color: #fff;
        font-size:18px ;
        font-weight: 700;
        height: 50px;
        cursor: pointer;
        margin-top: 30px;
        border-radius: 10px;
    }
form button:hover{
    background: var(--primary-color-darker);
}
